<table mat-table [dataSource]="allBooks" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="autora">
    <th mat-header-cell *matHeaderCellDef> Autora </th>
    <td mat-cell *matCellDef="let element"> {{element.autora}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="genero">
    <th mat-header-cell *matHeaderCellDef> Gênero </th>
    <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToShow;"></tr>
</table>

